{{#partial "content"}}
<div class="row">
    <div class="col-md-12">
        <h1>Add hero to squad</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="add-hero-to-squad" method="post">
            <div class="form-group">
                <label for="squadId">Squad</label>
                <select name="squadId" id="squadId" class="form-control">
                    {{#each squads}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="heroId">Hero</label>
                <select name="heroId" id="heroId" class="form-control">
                    {{#each heroes}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn inverted-color mt-2">Add hero to squad</button>
            </div>
        </form>
    </div>
</div>
{{/partial}}
{{> layout.hbs}}