{{#partial "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#if heroes}}
            <h1>Heroes</h1>
                {{#each heroes}}
                    {{id}}. {{name}}
                    Powers: {{superpower}}
                    Weaknesses: {{weakness}}
                    <br>
                {{/each}}
                <h5>Click <a href="/heroes">here</a> to view more...</h5>
            {{/if}}
            <h4><a href="/heroes/add" class="btn inverted-color" role="button">Add hero</a></h4>
        </div>
    </div>
</div>
{{/partial}}
{{> layout.hbs}}