{{#partial "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading flex-me">
                <h3 class="panel-title">Squads</h3>
                <a href="/squads/add" class="btn btn-success">Add squad</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            {{#if squads}}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Cause</th>
                                        <th>Maximum heroes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each squads}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{cause}}</td>
                                        <td>{{max}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <p>No squads found.</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/partial}}
{{> layout.hbs}}